* {
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d9d9d9;
}

.logo {
  float: left;
  display: inline-block;
  width: auto;
  line-height: 100px;
}

.menu {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: auto;
}

.menu ul {
  float: right;
  margin-left: 400px;
  margin-top: 85px;
}

.menu ul li {
  display: inline-block;
  float: left;
  padding-left: 40px;
  color: #717276;
}

.activelink {
  color: #a62b28;
}

.logo {
  padding: 50px 0px 50px 130px;
}

header nav {
  display: inline-block;
  margin-top: 50px;
}

.background-image {
  margin-left: 130px;
  margin-top: 160px;
}

img {
  overflow-clip-margin: content-box;
  overflow: auto;
}

.section-header {
  margin-left: 130px;
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-header h1 {
  margin-left: 40px;
}

.booksoftheweek {
  margin-left: 130px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.indbook {
  padding: 10px;
}

footer {
  width: auto;
  height: 248px;
  margin-top: 160px;
  background-color: #d9d9d9;
}

.footer-links {
  margin-left: 130px;
  padding-top: 106px;
}

footer div {
  display: inline-block;
  margin-left: 1127px;
}

footer ul li {
  color: #000000;
}
