* {
  margin: 0px;
  text-decoration: none;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d9d9d9;
}

.logo {
  padding: 50px 0px 50px 130px;
}

.horizontalnav {
  list-style: none;
  padding: 85px 27px 85px 0px;
  margin-left: 595px;
  line-height: 30px;
  list-style: none;
}

.background-image {
  margin-left: 130px;
  margin-top: 160px;
}

img {
  overflow-clip-margin: content-box;
  overflow: auto;
}

.section-header {
  margin-left: 130px;
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-header h1 {
  margin-left: 40px;
}
